.firstInfo{
    padding: 24px 0;
    min-height: calc(100vh - 335px);
    position: relative;

    &:after{
        content: '';
        background-image: url('../assets/img/firstStep_dog.png');
        background-repeat: no-repeat;
        background-size: 386px;
        width: 386px;
        height: 503px;
        position: absolute;
        right: -130px;
        bottom: -50px;
        z-index: 1;
    }

    &__wrap{
        max-width: 650px;
        margin: 0 auto;
    }
    &__info{
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
        padding: 12px 9px 10px;
        margin: 0 0 24px;

        &:last-of-type{
            margin: 0;
        }

        &:before{
            content: attr(data-count) '.';
            font-size: 33px;
            line-height: 1;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            position: relative;
            margin-right: 10px;
        }

        h3{
            font-size: 25px;
            line-height: 30px;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            color: #000;
            margin: 0;
        }
    }
}
@media (max-width: 1199px){
    .firstInfo{
        &:after{
            right: -150px;
        }
        &__wrap{
            max-width: 500px;
        }
    }
}
@media (max-width: 991px){
    .firstInfo{
        padding-bottom: 200px;

        &:after{
            background-size: 250px;
            width: 250px;
            height: 250px;
            position: absolute;
            right: -130px;
            bottom: -50px;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }
}
@media (max-width: 575px){
    .firstInfo{
        min-height: calc(100vh - 226px);
        padding: 10px 20px 10px;

        &:after{
            background-size: 175px;
            width: 175px;
            height: 180px;
        }
        &__wrap{
            max-width: 300px;
            position: relative;
            z-index: 3;
        }
        &__info{
            align-items: flex-start;
            margin: 0 0 10px;
            padding: 10px 9px 8px;

            &:before{
                font-size: 26px;
            }
            h3{
                font-size: 21px;
                line-height: 25px;
            }
        }
    }
}
@media (max-width: 400px){
    .firstInfo{
        &__info{
            h3{
                font-size: 19px;
                line-height: 21px;
            }
        }
    }
}

.firstStart{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.1);
    min-height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 2;

    .btn{
        min-width: 188px;
        text-align: center;
    }
}
@media (max-width: 575px){
    .firstStart{
        padding: 0 20px;

        .btn{
            max-width: 320px;
            width: 100%;
            min-width: 0;
        }
    }
}